@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "tailwindcss";

:root{
  background-color: black;
  color: white;
}

@font-face {
  font-family: youngest;
  src: url(./fonts/the-youngest-script.ttf);
  font-display: swap;
}

@theme {
  /* Kolory maxime */
  --color-raisinBlack: rgb(38, 38, 38);
  --color-arylideYellow: rgb(239, 293, 111);
  --color-philippineSilver: rgb(178, 178, 178);
  --color-oxfordBlue: rgb(0, 28, 72);

  /* Czcionki maxime */
  --font-youngest: youngest;
  --font-montserrat: 'Montserrat';
}