@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "tailwindcss";

:root{
  background-color: rgb(38, 38, 38);
  color: white;
}

@font-face {
  font-family: youngest;
  src: url(./fonts/the-youngest-script.ttf);
  font-display: swap;
}

@theme {
  /* Kolory maxime */
  --color-raisinBlack: rgb(38, 38, 38);
  --color-arylideYellow: rgb(239, 293, 111);
  --color-philippineSilver: rgb(178, 178, 178);
  --color-oxfordBlue: rgb(0, 28, 72);

  /* Czcionki maxime */
  --font-youngest: youngest;
  --font-montserrat: 'Montserrat';
}

/* Customizacja strzałek Swipera */
.swiper-button-next,
.swiper-button-prev {
    color: #B7B7B7 !important; /* Używamy koloru philippineSilver */
    transition: transform 0.2s ease-in-out;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    transform: scale(1.2);
}